
#mouse-circle {
    display: none;
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 123, 255, 0.8);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.8), 0 0 20px rgba(0, 123, 255, 0.5);
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.trail {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgba(79, 164, 255, 0.8);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9998;
    animation: fadeTrail 0.7s ease-out forwards;
    mix-blend-mode: soft-light; 
}

@keyframes fadeTrail {
    0% {
        opacity: 0.6;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}